  <div class="jumbotron text-center ">
    <h1 class="title">同乐装饰</h1>
    <p class="slogan">同乐装饰 工匠精神坚守者
    <br>
    我们希望为您带来最人性化的服务，让美在细节处绽放
    <br>
    最幸福的事莫过于欢笑，家人同乐
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/products">让老木匠免费为您服务</a></p>
  </div>
