<div class="col-md-12">
  <div class="row box"  >
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">同乐装饰</h1>
      <p class="slogan">同乐装饰-工匠精神捍卫者
        <br>
        我们希望能用高品质的产品给您带来精致的体验
        <br>
        我们专注每一个细节
      </p>
      <p class="lead">
        <%= link_to '立即免费咨询', products_path, class: 'btn  btn-lg btn-danger' %>
      </p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">装修很耗时间？</h2>
        <p class="lead">完全不用担心，我们全程视频直播</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">害怕装修后有问题？</h2>
        <p class="lead">我们售后二年  <a target="_blank" href="http://blog.niclin.tw">Nic 的 Blog</a>! 啦啦啦啦啦啦啦</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">价格？<br>透明吗？</h2>
        <p class="lead">材料全部列出清单<a target="_blank" href="https://forum.qzy.camp/">论坛资源</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>









<div class="lp-advantage text-center ">
		<h2 class="title ">我们可以给您提供什么</h2>
		<div class="container bc">
			<div class="row">
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn">
						<img class="lp-advantage-img" src="https://ww1.sinaimg.cn/large/006tNc79ly1fd6jzimgwgj30ie0ie0td.jpg">
						<p class="lp-advantage-title f18 mt20">急速配送</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">我们与全国180多个城市的大型超市合作，每天有无数个快递员穿梭于您与超市之间。配送人员提供全天24小时送货服务。</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
						<img class="lp-advantage-img" src="https://ww3.sinaimg.cn/large/006tNc79ly1fd6k2sz9a8j30ow0oywfk.jpg">
						<p class="lp-advantage-title f18 mt20">让您幸福感爆棚的零食</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">每个人总有心情不好的时候。那么怎样才能有效改善自己的心情，让自己摆脱忧郁重新对生活充满信心呢？偶尔的一点零食，正是您调节心态的好方法。</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
						<img class="lp-advantage-img" src="https://ww3.sinaimg.cn/large/006tNc79ly1fd6k7s7eywj304604g3yg.jpg">
						<p class="lp-advantage-title f18 mt20">安全食品，正品行货</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">严格的质量把控，我们只卖正品、安全、高质量的产品。如果您对商品不满意，我们提供7天无理由退换货。您尽管放心地买。</p>
					</div>
				</div>
			</div>
		</div>
	</div>




  <div class="lp-action ">
		<div class="text-content">
			<p class="f16 ">一大波好吃的零食在等着你，快来注册下单吧</p>
			<p class="wow zoomIn" data-wow-duration=".5s">
				<a class="btn-lg lp-b-btn bc"  href="/products">立刻选购</a>
			</p>
		</div>
	</div>
