// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}



//---------Video-------

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

//---------Box大图部分---------

.box {
      background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505034937792&di=25d19f1fa21581a3a853a1449b617a00&imgtype=0&src=http%3A%2F%2Fimg.pconline.com.cn%2Fimages%2Fupload%2Fupc%2Ftx%2Fphotoblog%2F1612%2F08%2Fc5%2F31861320_1481178815214_mthumb.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 50px;

    .box-inner {
        padding-bottom: 5px;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .title {
        text-align: center;
        margin-bottom: 80px;

    }

    .slogan {
        color: #222;
        margin-top: 10px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 25px;
        top: 12px;
    }

    .lead {
        margin-bottom: 60px;
        text-align: center;
        color: white;
    }
}

//---------Content---------

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    background-color: #ffffff;
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}




//-----我们的优势-----
.lp-advantage {
  margin-bottom: 100px;
	.lp-advantage-img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}
	.lp-advantage-title {
		color: #444;
		line-height: 1.2;
	}
	.lp-advantage-desc {
		line-height: 1.7;
	  letter-spacing: 0;
	  font-size: 16px;
	}

}
