<!-- <footer class="text-center">
<div class="footer-below">
    <p class="text-center">Copyright ©2016 Rails101
        <br>Design by 同乐装饰  皖备案：945583242
    </p>
</div>
</footer> -->


<div class="footer">

      <p class="text-center">
        关于我们 <span>|</span> 帮助中心 <span>|</span> 开放平台 <span>|</span> 诚聘英才 <span>|</span> 联系我们 <span>|</span> 网站合作 <span>|</span> 友情链接
        <br>Copyright ©2016 Rails101
          <br>Design by tongle 皖备案：8556628
      </p>
  </div>
